$zp:0px;
$bgColor: rgba(255, 255, 255, .3);
$stdblack: #000;
$stdwhite: #fff;
$headerBgc: #ebebeb;
$darkerGray: #3a3a3a;
$lightOrange: #fe9878;
$spinnerBorder: rgba(10,255,255, 0.2);

$venderList: "-webkit-", "-moz-", "-ms-", "-o-", "";